<table class="table table-striped table-bordered">
	<caption class="fontc">
	<%= "Post Information" %>
	<p> </p> </caption>
	<thead>
		<tr>
			<td> <b>Title</b> </td>
			<td> <b>Body </b> </td>
		</tr>
	</thead>
	<tr>
		<td> <%= post.title %> </td>
		<td> <%= post.body %> </td>
	</tr>	
</table>