<li class="form-group required">
    <%= f.label :title %>
    <%= f.text_field :title, maxlength: "35" %>
</li>

<li class="form-group">
    <%= f.label :body %>
    <%= f.text_area :body, cols: 40, rows: 7, class: 'form-control'%>
</li>